@font-face {
    font-family: 'hel_b';
    src: url('../fonts/HelveticaNeue-BoldCond.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-BoldCond.otf') format('opentype'), url('../fonts/HelveticaNeue-BoldCond.woff') format('woff'), url('../fonts/HelveticaNeue-BoldCond.ttf') format('truetype'), url('../fonts/HelveticaNeue-BoldCond.svg#HelveticaNeue-BoldCond') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hel_c';
    src: url('../fonts/HelveticaNeue-Condensed.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-Condensed.otf') format('opentype'), url('../fonts/HelveticaNeue-Condensed.woff') format('woff'), url('../fonts/HelveticaNeue-Condensed.ttf') format('truetype'), url('../fonts/HelveticaNeue-Condensed.svg#HelveticaNeue-Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hel_bc';
    src: url('../fonts/HelveticaNeue-BoldCondObl.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-BoldCondObl.otf') format('opentype'), url('../fonts/HelveticaNeue-BoldCondObl.woff') format('woff'), url('../fonts/HelveticaNeue-BoldCondObl.ttf') format('truetype'), url('../fonts/HelveticaNeue-BoldCondObl.svg#HelveticaNeue-BoldCondObl') format('svg');
    font-weight: normal;
    font-style: normal;
}

p,
a,
span {
    font-family: hel_c;
}

h1 {
    font-size: 5em;
    font-family: arial, helvetica;
    color: #fff;
    margin: 0;
}

.intro p {
    color: #fff;
}

.section {
    text-align: center;
    position: relative;
}

#infoMenu li a {
    color: #fff;
}

a {
    text-decoration: none;
}

.section .img_line {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    pointer-events: none;
}

#section0 .img_line {
    pointer-events: none;
}

#section2 .img_line {
    width: 100%;
    pointer-events: none;
    margin: 0;
}

#section3 .img_line {
    width: 100%;
    pointer-events: none;
    margin: 0;
    right: 0.48%;
    left: inherit;
}

#section0 {
    background-color: #fff;
}

.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel.owl-text-select-on .owl-item {
    height: 100%;
}

#section1 .owl-carousel .owl-item img.content_bg {
    width: 100%;
    height: auto;
    position: absolute;
    top: initial;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: -1;
}

.owl-carousel .owl-item img.content_bg {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    z-index: -1;
}

.content_block {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.content_slide {
    width: 100%;
    display: inline-block;
    color: #fff;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    float: left;
}

.content-title {
    font-family: hel_b;
    font-size: 35px;
    line-height: 30px;
    color: #000;
}

.content-text {
    font-family: hel_c;
    font-size: 21px;
    color: #666666;
}

.content-text.tab-green {
    font-family: hel_bc;
    display: inline-block;
    background-color: #009F98;
    color: #fff;
    padding: 2px 10px;
    margin-top: -2px;
}

span.content-text.tab-green {
    font-family: hel_bc;
    display: inline-block;
    background-color: #009F98;
    color: #fff;
    font-size: 19px;
    padding: 5px 10px;
    margin-top: -2px;
}

a.btn-referral {
    font-family: hel_c;
    font-size: 20px;
    color: #fff;
    margin-top: 5%;
    display: inline-block;
    padding: 5px 20px;
    background-color: #FF6400;
    border-radius: 30px;
    white-space: nowrap;
}

a.btn-referral:hover {
    opacity: .8;
}

a.btn-referral > img {
    width: 8px !important;
    height: 15px;
    padding-left: 10px;
    display: inline-block !important;
}

.owl-controls {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.owl-next,
.owl-prev {
    position: absolute;
    cursor: pointer;
    bottom: 0;
}

.owl-next {
    right: 5px;
    transform: rotate(-180deg);
}

.owl-prev {
    left: 0;
}

.owl-dots {
    position: absolute;
    bottom: -130px;
    left: 0;
    right: 5%;
}

.owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}

.owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    margin: 5px 3px;
    background: transparent;
    border: 2px solid #fff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
    background: #fff;
}

.animated {
    -webkit-animation-duration: 300 ms;
    animation-duration: 300 ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-animated-out {
    z-index: 1
}

#section1 .content_block {
    top: 63%;
}

#section1 .owl-controls {
    top: 65%;
}

#section2 {
    background-color: #FF6400;
}

#section2 .content_block {
    width: 30%;
    top: 60%;
    left: 75%;
}

#section2 .owl-controls {
    top: 70%;
    left: 72%;
}

#section2 .content_slide {
    width: 80%;
    left: 80%;
}

#section2 .owl-carousel .owl-item img.content_bg {
    width: 50%;
    height: auto;
    position: absolute;
    top: 27%;
    left: 8%;
    right: 0;
    margin: 0;
    z-index: -1;
}

#section2 a.btn-referral {
    background-color: #000;
    margin: 0;
}

#section3 .content_block {
    width: 30%;
    top: 63%;
    left: 75%;
}

#section3 .owl-controls {
    width: 37%;
    top: 67%;
    left: 72%;
}

#section3 .content_slide {
    width: 80%;
}

#section3 .content-title {
    color: #fff;
}

#section2 .content_block {
    width: 30%;
    top: 70%;
    left: 50%;
}

#section4 {
    background: url("../images/bg8.jpg");
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
}

#section4 .img_line {
    width: 30%;
    z-index: 1;
    top: 10%;
    left: inherit;
    right: 15%;
}

#section4 .btn_set {
    width: 35%;
    position: absolute;
    bottom: 30%;
    left: 55%;
}

#section4 .btn_set > a {
    padding: 10px 5px;
    margin: 5px;
    background-color: #ff6400;
    border-radius: 5px;
    width: 50%;
    max-width: 175px;
    display: block;
    float: left;
    font-family: hel_b;
    font-size: 19px;
    text-transform: uppercase;
    color: #fff;
}

#section4 .btn_set > a:last-child {
    background-color: orange;
}

@media screen and (min-width: 769px) {
    .visible-xs {
        display: none !important;
    }
}

@media screen and (max-width: 769px) {
    .hidden-xs {
        display: none !important;
    }
    .content-title {
        font-size: 70px;
        line-height: 60px;
    }
    .section .img_line {
        width: 85%;
        height: 100%;
    }
    .content_slide {
        width: 90% !important;
    }
    #section1 .content_block {
        width: 75% !important;
    }
    #section1 .owl-controls {
        width: 95%;
    }
    .content-text,
    span.content-text.tab-green {
        font-size: 30px
    }
    .owl-carousel .owl-item img.content_bg {
        width: 100%;
        height: 25%;
        bottom: 0px;
        top: inherit;
    }
    #section1 .content_block {
        width: 75% !important;
    }
    #section1 .owl-dots .owl-dot span {
        border: 1px solid #999;
        margin: 0 7px;
    }
    #section1 .owl-dots .owl-dot.active span,
    .owl-dots .owl-dot:hover span {
        background: orange;
    }
    .img_line-mobile {
        width: 75%;
        position: absolute;
        left: 9%;
        height: 100%;
        top: 0;
        z-index: 99;
        pointer-events: none;
    }
    #section2 .owl-carousel .owl-item img.content_bg {
        width: 90%;
        height: 30%;
        left: 11.5%;
    }
    #section2 .content_block {
        width: 82%;
    }
    #section2 .content_slide {
        width: 100%;
        left: 3%;
    }
    #section2 .owl-controls {
        width: 95%;
        left: 50%;
        top: 70%
    }
    /*#section2 .content-title {
    font-size : 25px;
    line-height :20px;
    margin-top : 15px;
}
*/
    #section2 .btn-referral {
        margin: 0;
        font-size: 15px;
    }
    #section2 .owl-dots .owl-dot span {
        border: 1px solid #fff;
        margin: 0 5px 7px 10px;
    }
    #section2 .owl-dots .owl-dot.active span,
    .owl-dots .owl-dot:hover span {
        background: #fff;
    }
    #section3 .img_line-mobile > img {
        max-height: 85%;
    }
    #section3 .img_line-mobile {
        width: 68.5%;
        top: -20px;
        overflow: hidden;
    }
    #section3 .img_line-mobile {
        width: 70%;
        top: 0px;
        left: 10%;
        height: 95%;
    }
    #section3 .content_block {
        width: 85%;
        top: 67.5%;
        left: 54%;
    }
    #section3 .owl-controls {
        width: 97%;
        top: 68%;
        left: 50%;
    }
    #section3 .btn-referral {
        font-size: 20px;
        margin: 20px 0 0;
    }
    #section3 .owl-dots .owl-dot span {
        border: 1px solid #fff;
        margin: 0 5px 15px 10px;
    }
    #section3 .owl-dots .owl-dot.active span,
    .owl-dots .owl-dot:hover span {
        background: #fff;
    }
    #section4 {
        background: url("../images/bg8_mobile.jpg");
        background-size: 100%;
        background-position: left top;
    }
    #section4 .img_line {
        width: 80%;
        height: 70%;
        left: 10%;
        top: 50%;
    }
    #section4 .btn_set {
        width: 80%;
        position: absolute;
        bottom: 7.5%;
        left: 10%
    }
    #section4 .btn_set > a {
        width: 40%;
        max-width: 125px;
        font-size: 13px;
    }
}

@media screen and (max-width: 500px) {
    .content-title {
        font-size: 35px;
        line-height: 30px;
    }
    .content-text {
        font-size: 18px !important;
        margin-top: 0;
    }
    .content-text.tab-green {
        font-size: 17px !important;
        padding: 2px 5px !important;
        margin-top: 0;
    }
}

.animated {
    -webkit-animation-duration: 700 ms;
    animation-duration: 700 ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-animated-out {
    z-index: 1
}

.owl-animated-in {
    z-index: 0
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
